
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Orbitron');

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-color: #171d17;
	color: white;
}

.site-header {
	font-family: 'Orbitron', sans-serif;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 30px;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, #26352d, #171d17);
}

.u-hidden {
	display: none;
}

.dropzone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgba(71,149,116,0.25);
	border: 1px dashed rgb(71,149,116);
	border-radius: 20px;
	width: calc(100vw - 60px);
	height: calc(100vh - 90px);
	transition: background-color 0.25s;
	box-sizing: border-box;
	padding: 50px;
	margin: 0 30px 30px 30px;
	overflow: auto;
	cursor: pointer;
}

.dropzone.is_dragged-over {
	background-color: rgba(211,127,31,0.25);
	border-color: rgb(211,127,31);
}

.dropzone::after {
	content: 'drop 512x512 white-on-black images here';
	font-size: 2rem;
	position: absolute;
	z-index: -1;
	color: #e5e6e6;
}

.dropzone.is_dragged-over::after {
	/*color: rgb(71,149,116,1);*/
}

.dropzone::before {
	content: '\f302';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	font-size: 200px;
	position: absolute;
	z-index: -1;
}

.dropzone.loading::after {
	content: 'generating dds images';
}

.dropzone.loading::before {
	content: '\f013';
	animation: fa-spin 2s infinite linear;
}

.thumbnails {
	display: flex;
	flex-wrap: wrap;
	max-height: 100%;
	pointer-events: none;	
	justify-content: center;
	background-color: rgba(71,149,116,0.25);
	border: 1px solid rgb(71,149,116);
}

.thumbnails .image {
	max-width: 100%;
	max-height: 100%;
}

.site-footer {
	display: none;
}

.download {
	display: none;
	background-color: #1d2b24;
	color: white;
	text-decoration: none;
	height: 40px;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	border: 1px solid #479574;
	margin-bottom: 50px;
}

.download:hover {
	background-color: #2c2716;
	border-color: #d37f1f;
}

.download.show {
	display: flex;
}
